<div class="main">
    <block name="header">

        <div class="back_nav">

            <a class="back" href="javascript:;" onclick="history.go(-1)">返回</a>

            <span id="menu">导航</span>

            <div id="guide">

                <ul>

                    <li><a href="../index.html">首页</a></li>

                    <li><a href="danji.html">单机</a></li>

                    <li><a href="danji.html">网游</a></li>

                    <li><a href="danji.html">应用</a></li>

                    <li><a href="danji.html">攻略</a></li>

                    <li><a href="danji.html">资讯</a></li>

                </ul>

            </div>

        </div>
    </block>
    <block name="container"></block>
</div>