<div class="header">

    <span id="menu">导航</span>

    <div id="guide">

        <ul>

            <li><a href="index.html"><i class="iconfont">&#xe601;</i> 首页</a></li>

            <li><a href="android/danji.html"><i class="iconfont">&#xe600;</i> 单机</a></li>

            <li><a href="android/danji.html">网游</a></li>

            <li><a href="android/danji.html">应用</a></li>

            <!--<li><a href="android/danji.html">攻略</a></li>-->

            <!--<li><a href="android/danji.html">资讯</a></li>-->

        </ul>

    </div>

    <a class="search" href="index.html">搜索</a>

    <img class="logo" src="__IMG__/game/logo.png">

</div>